.mesh-connect-button {
  background-color: #6D28D9 !important;
  color: white !important;
  border: none !important;
  border-radius: 0.25rem !important;
}

.mesh-connect-button:hover {
  background-color: #7E22CE !important;
}